*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
#header{
    height: 100px;
    display: -webkit-box;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 -5px 5px 5px rgba(0, 0, 0, 0.1);
    margin-top: 4px;
    /*padding: 0 20px 0 30px;*/
}
#header-menu{
    width: 0px;
    -webkit-box-flex: 5;
    padding-left: 30px;
}
#header-menu p{
    color: #000;
    font-size: 12px;
    letter-spacing: 0.5px;
    width: 30px;
    text-align: center;
}
#header-menu a{
    display: block;
    width: 30px;
    height: 40px;
    margin-top: 32px;
    opacity: 0.7;
}
#header-menu a:hover{
    opacity: 1;
}
/*#header-menu p:hover{
    opacity: 1;
}*/
#header-logo{
    width: 0px;
    -webkit-box-flex: 2;
    text-align: center;
}
#header-logo img{
    width: 73px;
    max-width: 100%;
    height: 73px;
    margin: 14px 0;
}
#header-info{
    width: 0px;
    -webkit-box-flex: 5;
    text-align: right;
    padding-right: 20px;
}
#header-info #info-title{
    color: #4e4e4e;
    margin-top: 30px;

}
#header-info #info-login a{
    color: #b89f7a;
    font-weight: 700;
    font-size: 14px;
}
#info-login  span{
    color: #4e4e4e;
}
@media screen and (max-width: 768px){
    #header-menu{
        padding-left: 20px;
    }
    #header-info{
        padding-right: 10px;
    }
    #header-info #info-title{
        margin-top: 30px;
        font-size: 12px;
    }
    #header-info span{
        font-size: 12px;
    }
    #header-info #info-login a{
        font-size: 12px;
    }

}